.button-icon{
border-radius: 50px;
width: 252px;
height: 66px;
background: linear-gradient(120.2102deg, rgba(58, 227, 195, 0.61) 60.25%, rgba(78, 108, 228, 0.84358) 89.39%, #563FF0 100%);
outline: none;
border: inherit;
color: #FFF;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 120%;
cursor: pointer;
font-size: 30px;
}
.button-icon:hover:enabled{
    transition: transform 0.2s ease-in-out;
    transform: scale(0.97);
}

.button-icon:active:enabled{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.button-icon:hover:disabled{
    cursor: default;
}

.button-container{
    margin-top: 50px;
}