.auth-template .body {
    overflow: hidden;
    padding: 5%;



}

.auth-template .navbar {
    display: flex;
    justify-content: center;
    padding: 0%;
    height: 80px;
    width: 100%;
    background: #5141EA;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}

.auth-template .navbar .navbar-logo {
    position: relative;
    width: 172px;
    height: 68px;
    top: 50%;
    bottom: 0;
    right: 0;
    left: -30%;
    transform: translate(-50%, -50%);

}


.auth-template .footer-container {
    display: flex;
    position: absolute;
    top: 100%;
    bottom: 0;
    width: 100%;
    height: 853px;

}


.auth-template .footer-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.footer-logos {
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 7%;
    right: 0;
    max-width: 70%;

}