.auth-template .navbar-container {
    position:fixed;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100vw;
    background: #5141EA;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.auth-template .navbar-container .navbar-logo {
    position: absolute;
    width: 114.67px;
    height: 45.33px;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 187px;
    transform: translate(-50%, -50%);

}


.auth-template .navbar-container .navbar-user-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;



}

.container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
}

.container .body {
    padding: 135px 0 250px 115px;
    display: flex;
}



.auth-template .footer-container {
    z-index: -1;
    position: absolute;
    min-height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;

}


.auth-template .footer-image {

    width: 100vw;
}

.footer-logos {
    position: absolute;
    top: 30%;
    bottom: 0;
    left: 7%;
    right: 0;
    width: 70vw;

}